In [ ]:
pip install pandas

In [3]:
import pandas as pd


t = (1,2,3,4) 

t[1:3]  # it will give from the secod index to the to the 3 but index 3 is not incled

(2, 3)

In [12]:
dictionary = {"names":["ali","farah","siyad","warsame"],
             "age":[10,43,65,87],
             "grades":[110,545,29,312]}

data1 = pd.DataFrame(dictionary) 
print(data1)

     names  age  grades
0      ali   10     110
1    farah   43     545
2    siyad   65      29
3  warsame   87     312

In [ ]:
import pandas as pd
# reading csv file 

readcsv = pd.read_csv("C:/Users\ALI/Documents\files/firs_file.csv")

print(readcsv)

In [13]:
head = data1.head()  # can assing another variable
print(head)

     names  age  grades
0      ali   10     110
1    farah   43     545
2    siyad   65      29
3  warsame   87     312

In [ ]:
#The tail() method returns a specified number of last rows. The tail() method returns the last 5 rows if a number is not specified

tail = data1.tail()
print(tail)

In [14]:
print(data1.columns) #shows me the columns of the data

Index(['names', 'age', 'grades'], dtype='object')

In [17]:
print(data1.info())     #it will give me information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   4 non-null      object
 1   age     4 non-null      int64
 2   grades  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None

In [19]:
print(data1.dtypes)   #you can get the data types of your information

names     object
age        int64
grades     int64
dtype: object

In [25]:
print(data1.describe())   # is used for calculating some statistical data like percentile,
                           # mean and std of the numerical values of the Series or DataFrame

             age      grades
count   4.000000    4.000000
mean   51.250000  249.000000
std    32.846867  230.438712
min    10.000000   29.000000
25%    34.750000   89.750000
50%    54.000000  211.000000
75%    70.500000  370.250000
max    87.000000  545.000000

In [26]:
print(data1.loc[:, "age"]) # anothe way to get columns

0    10
1    43
2    65
3    87
Name: age, dtype: int64

In [27]:
filtre1 = data1.age>15    #those who are over 10 years old are filtered out
data1["bool"]= filtre1
print(data1.loc[:,["age","bool"]])

   age   bool
0   10  False
1   43   True
2   65   True
3   87   True

In [28]:
print(data1.loc[::-1]) # reversing the indexs

     names  age  grades   bool
3  warsame   87     312   True
2    siyad   65      29   True
1    farah   43     545   True
0      ali   10     110  False